[Unit]
Description=Automated Borg Backup
After=network.target

[Service]
Type=oneshot
Environment="BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes"
ExecStart=/bin/bash -c "borg create -C zstd borg@{{ backup_central_server }}:backups::{{ hostvars[inventory_hostname]['backup_prefix'] }}-$(date +%%Y%%m%%d_%%H%%M%%S) {{hostvars[inventory_hostname]['backup_folder']}}"
ExecStart=borg prune --keep-daily 14 --keep-weekly 8 --keep-monthly 12 borg@{{ backup_central_server }}:backups

[Install]
WantedBy=multi-user.target